venv
.idea
.DS_Store
.pytest_cache
.venv
__pycache__
credentials.py
.env
creds.py
/homework/denis_dmitrichev/Homework_for_lesson_21/allure-reports/
/homework/denis_dmitrichev/Homework_for_lesson_21/allure-results/
/homework/denis_dmitrichev/Homework_for_lesson_21/allure-report/
/test_api_dmdenis/allure-results/
